.dashboard-container {
  width: 500px;
  margin: 50px auto;
  background: #1e293b;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
  animation: fadeIn 0.5s ease;
  text-align: center;
}

.dashboard-title {
  color: #38bdf8;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.dashboard-info {
  background: #0f172a;
  padding: 15px;
  border-radius: 14px;
  margin-bottom: 25px;
  border-left: 5px solid #38bdf8;
}

.dashboard-info p {
  color: #e2e8f0;
  margin: 10px 0;
}

/* BUTTON GROUP */
.btn-primary {
  padding: 12px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 12px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #2563eb;
}

.btn-secondary {
  padding: 12px;
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: #dc2626;
}
.dashboard-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  .dashboard-container {
    width: 80%;
    padding: 20px;
    font-size: small;
  }
  .dashboard-title {
    font-size: medium; 
  }
  .dashboard-buttons button{
    font-size: small;
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    width: 80%;
    
  }
}

@media (min-width: 769px) {
  .dashboard-container {
    width: 500px;
  }
}