/* DARK MODE GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f172a; /* dark navy */
  min-height: 100vh;
  color: #e2e8f0; /* soft text */
}

h1, h2, h3, p, label {
  color: #e2e8f0;
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fc;
}

.loader {
  width: 12vw;
  height: 12vw;
  max-width: 60px;
  max-height: 60px;
  min-width: 35px;
  min-height: 35px;

  border: 5px solid #ddd;
  border-top-color: #4e73df;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
